html, body {
    font-family: "copperplate", fantasy;

}

.wrapper {
    padding:0%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: #ec8262;

    
}

ul .wrapper, li {
    cursor: pointer;
    border-bottom: 1px solid orange;
    transition: border 0.2s;
  }

ul li:hover {
    border-color:white;
}

@keyframes go {
    from { 
        transform: scale(0)
    }
    to {
        transform: scale(1);
    }
    
}


.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEC0AA;
    
}


h1, h2 {
color: #ec8262;
animation: go 4s 1;
}

section .create, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7B6A3;
    color: #FFE7DF;
    margin: 20px;
    
}